{% block form_row -%}
    <div class="RS-admin-form-row RS-admin-text">
        <div>
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock form_row -%}