{% block form_row %}
    {% spaceless %}
        <div class="RS-admin-form-row RS-admin-text">
            <div>
                {{ form_label(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}