{% extends 'PanelCtrlwBundle::login.html.twig' %}

{% block fos_user_content %}
    {% if error -%}
    <div>{{ error.message|trans }}</div>
    {% endif -%}
    <form action="{{ path('login_check') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{% render path('getToken') %}" />
        <ul>
            <li><strong>Usuario:</strong></li>
            <li><input id="username" type="text" name="_username" value="{{ last_username }}" /></li>
        </ul>
        <ul>
            <li><strong>Contraseña:</strong></li>
            <li><input id="password" type="password" name="_password" /></li>
        </ul>
        <div align="right"><input class="RS-login-submit RS-link" type="submit" value="Entrar" /></div>
    </form>

{% endblock fos_user_content %}